/******
*
*
*/
body,html{
    /*background-color: #5a9afa;*/
    /*font-family: Open Sans;*/
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2a2a2a;
}
.container.solid{
    background-color: #9a73ae;
    background: linear-gradient(132deg, rgb(0, 255, 157) 0.00%, rgb(227, 43, 175) 100.00%);
}
a{
    color: #722dac;
}
a:hover,a:active,a:focus{
    color: #a943ff;
}

#site-header,#site-footer{
    background-color: #af95d3;
    background: linear-gradient(132deg, rgb(0, 255, 157) 0.00%, rgb(227, 43, 175) 100.00%);
    color: #ffffff;
}
