/******
*
*
*/
body,html{
    /*background-color: #5a9afa;*/
    /*font-family: Open Sans;*/
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2a2a2a;
}
.container.solid{
    background-color: #fdb300;
    background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%);
}
a{
    color: #ef6ca6;
}
a:hover,a:active,a:focus{
    color: #ff0072;
}

#site-header,#site-footer{
    background-color: #ef6ca6;
    background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%);
    color: #ffffff;
}
